.aside {
     width: 100px;
     height: auto;
     box-shadow: 9px 1px 6px -5px rgba(78, 89, 109, 0.41);
     display: flex;
     align-items: center;
     flex-direction: column;
     padding: 30px;
     gap: 15px;
}

.iconBtn{
     padding: 5px 5px;
   background-color: rgba(255, 255, 255, 0.2);  
   backdrop-filter: blur(25px);       
  -webkit-backdrop-filter: blur(25px);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 8px;
 
  color: rgb(211, 211, 211);

} 

 
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(211, 211, 211);
}
 