
.banner{
    width: 1100px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 8px;
}

.TasksContainer{
    width: 1000px;
    height: 70px;
 
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
 
.inputText{
    width: 550px;
    height: 55px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgba(98, 98, 98, 0.755);
    border-radius: 15px;
    padding-left: 15px;
}
.inputText::placeholder{
    padding-left: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}
.taskCouner{
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 2px;
    border: 1px solid lightslategray;
    border-radius: 40px;
    color: rgb(255, 255, 255);
  
}
.counterBtn{
    width: 200px;
    height: 55px;
    border-radius: 15px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    background-color: rgb(0, 115, 255);
    border: none;
    color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon {
 font-size: 18px;
}

.SearchContainer{
     width: 600px;
    height: 55px;
 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchInput{
    width: 250px;
    height: 55px;

 
    display: flex;
    align-items: center;
    border: 1px solid rgb(127, 127, 127);
    border-radius: 15px;
   
}
.searchIcon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: whitesmoke;
}

.search{
     width: 200px;
    height: 60px;
    border: none;
    background: transparent;
    border-radius: 20px;
}
 